html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  line-height:1.6;
  font-family: 'Inter', sans-serif;
   height: 100vh;
}

 :root {
 
  
  --text-color: #ffffffff;
  --bg-color: #a74949;
  --text-main: #1a1a1a;
  --text-muted: #666666;

  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Inter', sans-serif;

  
<<<<<<< HEAD
}

/* about page style  */

html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  line-height:1.6;
  font-family: 'Inter', sans-serif;
}

:root {
  /* Colors */
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --accent-color: #007bff;
  --bg-color: #f9f9f9;
  --text-main: #1a1a1a;
  --text-muted: #666666;

  /* Fonts */
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Inter', sans-serif;

  /* Spacing & Borders */
  --radius: 8px;
  --gap: 20px;
}



.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.section-padding {
  padding: 60px 20px;
}


img {
  max-width: 100%;
  height: auto;
}


body {
  line-height: 1.6;
  text-align: center;
}
.footer {
  margin: auto;
  padding:auto;
}
.links {
  display: flex;
  list-style: none;
  margin-left: 43%;
  gap: 10px;
}
.about {
  border-radius: 50px;
  background-color: rgb(248, 239, 239);
}
.about-links {
  display: flex;
  margin-left: 43%;
  list-style: none;
  
}
=======
  
} 

header{
  background-color:var(--bg-color);
  display: flex;
  width: 100%;
  justify-content: space-between;
 
 
  
}
.hero{
   background: linear-gradient(green, rgb(255,255,255,0.5)) ,url('./Assets/Hero\ Section\ Background\ img\ selection/img2.jpg') ;
   height: 70vh;
}
header h1{
color: var(--text-color);
font-family:cursive;
font-size: 2rem;
}
header nav ul{
  display: flex;
}

nav{
  display: flex;
}
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  list-style: none;
  padding: 10px 30px;
}
.glitch-text h3{
  align-items: center;

}
nav ul li a{
  color:var(--text-color);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  gap: 50px;
  list-style: none;
  text-decoration: none;
  padding: 70px 30px;
}

.search-container{
  padding: 10px 30px;
}




>>>>>>> 9eb7671592b940c03204532f87c23231d2930629

